<div class="section">
  <div class ="col-md-3">
    <%= link_to image_tag(get_picture(book_status.book),
      size: Settings.users.size_book), book_status.book %>
    <p><%= link_to book_status.book.title, book_path(book_status.book) %></p>
    <br />
  </div>
</div>
