<div class="container-fluid">
  <br/>
  <br/>
  <br/>
  <%= render "detail" %>
  <div class="col-md-12">
    <h2><%= t "reviews.user_review" if @reviews.any? %></h2>
    <div class="reviews-index">
      <% @reviews.each do |review| %>
        <%= render partial: "reviews/review", object: review %>
      <% end %>
    </div>
    <div class="page center">
      <%= paginate @reviews %>
    </div>
  </div>
</div>
